@font-face {
  font-family: "Overlock";
  src: local("Overlock"), url("../fonts/Overlock-Regular.ttf");
}

@font-face {
  font-family: "Overlock";
  src: local("Overlock"), url("../fonts/Overlock-Bold.ttf");
  font-weight: bold;
}

:root {
  --clr-sale-400: hsl(3 81% 45%);
  --clr-accent-300: hsl(39 94% 57%);
  --clr-accent-400: hsl(39 100% 41%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-800: hsl(0 0% 20%);
  --clr-neutral-900: hsl(0 0% 10%);

  --ff-base: system-ui, sans-serif;
  --ff-accent: Overlock, serif;

  --fs-400: 1.125rem;
  --fs-500: 1.3125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;

  /* @media (width > 960px) {
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4rem;
  } */
}

* {
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-800);
  font-size: var(--fs-400);
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-base);
}

h1,
h2 {
  color: var(--clr-accent-400);
  line-height: 1.1;
  font-family: var(--ff-accent);
  font-weight: 700;
}

h1 {
  font-size: var(--fs-800);
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
}

h1 span {
  display: block;
  color: var(--clr-neutral-800);
  font-size: 0.75em;
  font-weight: 400;
}

a {
  color: var(--clr-accent-400);
}

a:hover,
a:focus-visible {
  color: inherit;
}

button {
  font: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  animation: fade-in 2s;
}

.hero-content {
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-delay: 1s;
}

.button {
  background-color: var(--clr-accent-300);
  border: 0;
  padding: 0.5em 1.5em;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

.lede {
  font-size: var(--fs-500);
}

.page-header {
  padding-block: 21px;
  background-color: var(--clr-neutral-900);
}

.page-header-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: space-between;
}

.primary-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-nav a {
  font-weight: 700;
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.primary-nav a:hover,
.primary-nav a:focus-visible {
  color: var(--clr-accent-300);
}

.hero {
  background-color: var(--clr-accent-400);
  background-image: url("../images/chess-bg.jpg");
  background-size: cover;
  padding: 100px;
  padding-inline: 1rem;
  text-align: center;
}

.hero-content {
  padding: 50px;
  background-color: hsl(0 0% 100% /0.7);
}

.hero-content > :first-child {
  margin-block-start: 0;
}

.hero-content > :last-child {
  margin-block-end: 0;
}

.course {
  display: grid;
  gap: 0.5rem;
  align-content: end;

  color: var(--clr-neutral-100);
  padding: 1.5rem;
  padding-block-start: 120px;

  position: relative;

  isolation: isolate;

  overflow: clip;

  > img {
    z-index: -1;
    position: absolute;
    inset: 0;

    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.course img {
  transition: scale 1s;
}

.course:hover img {
  scale: 1.1;
}

.course > * {
  margin: 0;
}

.course[data-sale="true"] .course-title::after {
  content: "sale";
  font-family: var(--ff-accent);
  background-color: var(--clr-sale-400);
  position: absolute;
  left: 0;
  top: 65px;
  padding: 5px 10px;
}

.course[data-featured="true"] .course-description::before {
  content: "⭐️" / "Featured course";
  position: absolute;
  top: 0;
  right: 20px;
  background-color: var(--clr-neutral-900);
  padding: 5px;
}

.course-title {
  font-size: var(--fs-500);
}

.course-tag {
  font-family: var(--ff-accent);
  font-weight: 700;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-300);
  padding: 5px 10px;

  position: absolute;
  top: 10px;
  left: 0;
}

.page-footer {
  background-color: var(--clr-neutral-800);
  background-image: linear-gradient(var(--clr-neutral-800), black);
  padding: 100px;
  color: var(--clr-neutral-100);
  text-align: center;
}

.wrapper {
  padding-inline: 1rem;
  max-width: 900px;
  margin-inline: auto;
}

.three-columns {
  display: grid;
  gap: 21px;

  @media (width > 720px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
